asgiref==3.10.0
certifi==2026.1.4
charset-normalizer==3.4.4
dj-database-url==3.1.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
google-search-results==2.4.2
gunicorn==21.2.0
idna==3.11
mysqlclient==2.2.7
numpy==2.3.4
openpyxl==3.1.5
packaging==26.0
pandas==2.3.3
pillow==12.0.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.6.3
whitenoise==6.11.0
