<body>
    <div class="stephane">
        <span>
            <img src="newsletter-img.png" alt="">
        </span>
        <span>
            <p>Join our community</p>
            <h1>Get latest app updates <br> Right at your inbox</h1>
            <p class="pince">
                <input type="email" placeholder="Enter Your Email...">
                <button>Subscribe</button>
            </p>
        </span>
    </div>
    <div class="bozzer" style="background-color: #F0F3FA;">
        <p>
            <span>Ready to dive in </span> <br>
            <span>Start your free trial today.</span>
        </p>
        <div class="but">
            <button>Start Free Trial</button>
            <button>Learn More</button>
        </div>
    </div>
</body>
