<body>

    <div class="form-container">
      <h2>Ajouter une maison</h2>
      <form id="quartierForm">
        <label for="adresse">Adresse</label>
        <input type="text" id="adresse" name="adresse" required>
  
        <label for="superficie">Superficie (m²)</label>
        <input type="number" id="superficie" name="superficie" required>
  
        <label for="categorie">Catégorie</label>
        <select id="categorie" name="categorie" required>
          <option value="">-- Sélectionner --</option>
          <option value="résidentiel">Résidentiel</option>
          <option value="commercial">Commercial</option>
          <option value="industriel">Industriel</option>
        </select>
  
        <button type="submit">Enregistrer</button>
      </form>
      <button><a href="/dashboard">retour</a></button>
    </div>
  
  </body>