<div class="premier">
    <span class="first">
        <img src="telecharge.PNG" alt="">
        <h2>
            1,25,00 Customers <br>Using The Application!
        </h2>
        <p>
            Big, small, online, offine, local or other. Size doesn't matter. <br>
            We work on diverse projets for top brands as well as for cool <br>
            startups. Check out some of our favorite.
        </p>
        <button>Download Now</button>
    </span>
    <span>
        <img src="l2-hero-image.png" alt="">
    </span>
</div>
<hr>
<div class="second">
    <span class="xender">
        <img src="l2-content-img-1.png" alt="">
    </span>
    <span class="youtube">
        <img src="calco.PNG" alt="">
        <h1>Seamless Loyalty</h1>
        <p>
            Collaborate projects with your team and client <br>
            optimised for mobile and tablet don't let slow page speeds <br>
            drive our innovative platform empowers anyone to convert <br>
            clicks ou'il publish your first landing page in minutes.
        </p>
        <button>Get Started</button>
    </span>
</div>
