<body>
    <div class="premiere">
        <button>TESTIMONIALS</button>
        <h2>10,000+ People Love Us</h2>
        <p>
            There are many variations of passages of Lorem Ipsum available, but the <br>
            majority have suffered alteration in some form.
        </p>
    </div>
    <div class="seconde">
        <div class="parti">
            <p>
                <span><img src="testi2.jpg" alt="" class="im1"></span>
                <span>
                    <p class="izo">
                        <span style="color: midnightblue; font-weight: bold;">
                            Aaron Almaraz
                        </span> <br>
                        <span style="opacity: 0.7;">CEO & Founder at Gearat</span>
                    </p>
                    <div class="img">
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                    </div>
                </span>
            </p>
            <p style="opacity: 0.7; font-size: 20px;">
                Time is the most precious thing you <br>
                have when bootstrapping. You can't <br>
                take time to ponder on design... 
            </p>
        </div>

        <div class="parti">
            <p>
                <span><img src="testi5.jpg" alt="" class="im1"></span>
                <span>
                    <p class="izo">
                        <span style="color: midnightblue; font-weight: bold;">
                            Aaron Almaraz
                        </span> <br>
                        <span style="opacity: 0.7;">CEO & Founder at Gearat</span>
                    </p>
                    <div class="img">
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                    </div>
                </span>
            </p>
            <p style="opacity: 0.7; font-size: 20px;">
                Time is the most precious thing you <br>
                have when bootstrapping. You can't <br>
                take time to ponder on design... 
            </p>
        </div>

        <div class="parti">
            <p>
                <span><img src="testi3.jpg" alt="" class="im1"></span>
                <span>
                    <p class="izo">
                        <span style="color: midnightblue; font-weight: bold;">
                            Aaron Almaraz
                        </span> <br>
                        <span style="opacity: 0.7;">CEO & Founder at Gearat</span>
                    </p>
                    <div class="img">
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                        <i class="fas fa-star yellow-star" style="color: yellow;"></i>
                    </div>
                </span>
            </p>
            <p style="opacity: 0.7; font-size: 20px;">
                Time is the most precious thing you <br>
                have when bootstrapping. You can't <br>
                take time to ponder on design... 
            </p>
        </div>
    </div>
    <div class="en">
        <div class="rounded-rectangle"></div>
        <i class="fas fa-circle circle-icon" style="color: black;"></i>
    </div>
  
</body>
