* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 420px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: 0.3s border;
    font-size: 15px;
}

.input-group input:focus {
    border-color: #2980b9;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2c80b4;
}
.login-link {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    color: #3498db;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.login-link i {
    margin-right: 8px;
}

.login-link:hover {
    color: #2c80b4;
    text-decoration: underline;
}
