<div class="grande">
    <div class="premier">
        <img src="bien.PNG" alt="">
        <h1>100%</h1>
        <p>Satisfaction</p>
    </div>
    <div class="premier">
        <img src="ami.PNG" alt="">
        <h1>120K</h1>
        <p>Happy User</p>
    </div>
    <div class="premier">
        <img src="techarge.PNG" alt="">
        <h1>125K+</h1>
        <p>Downloads</p>
    </div>
    <div class="premier">
        <img src="trophe.PNG" alt="">
        <h1>50+</h1>
        <p>Winnig Adward</p>
    </div>
</div>
