<body>
<div class="login-container">
    <h2>Connectez-vous à votre compte</h2>
    <form (ngSubmit)="login()">
      <div class="mb-3 text-start">
        <label for="username" class="form-label">Nom d'utilisateur</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" required minlength="4" maxlength="20">
      </div>
      <div class="mb-3 text-start">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" required minlength="4" maxlength="20">
      </div>
      <button type="submit" class="btn btn-primary w-100">Se connecter</button>
    </form>
  </div>
</body>
  