<body>
<div class="login-container">
    <h2>Connectez-vous à votre compte</h2>
    <p class="welcome-text">Bienvenue sur notre plateforme. Veuillez vous identifier pour continuer.</p>
    
    <form (ngSubmit)="login()">
      <div class="mb-3 text-start input-group-with-icon">
        <label for="username" class="form-label">
          <i class="fas fa-user icon"></i> Nom d'utilisateur
        </label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" required minlength="4" maxlength="20" placeholder="Entrez votre nom d'utilisateur">
      </div>
      
      <div class="mb-3 text-start input-group-with-icon">
        <label for="password" class="form-label">
          <i class="fas fa-lock icon"></i> Mot de passe
        </label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" required minlength="4" maxlength="20" placeholder="Entrez votre mot de passe">
      </div>
 
      
      <button type="submit" class="btn btn-primary w-100">
        <i class="fas fa-sign-in-alt"></i> Se connecter
      </button>

    </form>
  </div>
  
  <!-- Lien vers Font Awesome pour les icônes -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</body>