{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">-->
        <link rel="stylesheet" href="{%static 'css/cas.css'%}">
    <title>Document</title>
</head>

<body>
    <h1>
        Remplissez vos information pour creer un quartier
    </h1>
    <form action="ajouter_quartier/" method="post"  class="bg-red">
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Nom_Quartie:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter votre Nom_Quartie" name="Nom">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Ville:</label>
            <input type="text" class="form-control" id="ville" placeholder="Enter votre ville" name="ville">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Superficie:</label>
            <input type="number" class="form-control" id="ville" placeholder="Enter la superficie de votre quartier"
                name="superficie">
        </div>
        
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Creer</button>
    </form>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% for quartier in quartiers %}
    <div class="quartier-info">
        <p><span>ID:</span> <span>{{ quartier.id }}</span></p>
        <p><span>Nom Quartier :</span> <span>{{ quartier.nom_quartier }}</span></p>
        <p><span>Ville :</span> <span>{{ quartier.ville }}</span></p>
        <p><span>Superficie :</span> <span>{{ quartier.superficies }}</span></p>
    </div>
    {% endfor %}
    <a href="parcour/"><button>Afficher la liste des quartier</button></a>
</body>

</html>