<body>
    <div class="sectio">
        <div class="ninho">
            <div class="ima">
                <img src="logo.svg" alt="">
            </div>
            <div class="lien">
                <a href="#">Home</a>
                <a href="#">About Us </a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </div>
           
        </div>
        <hr style="width: 115%; margin-left: -180px;">
        <div class="last">
            <p>
                <span>Designed and Developed by </span>
                <span style="color: blue;">WpthrmesGrid</span>
            </p>
            <div class="icone">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </div>
    <span class="indice">^</span>
</body>