<div class="sec">
    <span class="firste">
        <h1>
            Create Landing Page <br>Easy, Super Fast
        </h1>
        <p class="first">
            From open source to pro service, piqes helps you to build, <br>deploy, test, and monitor apps
        </p>
        <p class="int">
            <input type="text" placeholder="Your email address">
            <button>Start Free Trial</button>
        </p>
        <p class="tr">
            <span>
                <img src="2310095_arrow_pause_record_video player_icon.png" alt="">
            </span>
            <a href="#">How Appmeet works for you?</a>           
        </p>
    </span>
    <span>
        <img src="woman-image.png" alt="">
    </span>
</div>
