<div class="setting">
    <button>PRICING</button>
    <h1>Pricing Plan</h1>
    <p>
        There are many variations of passages of Lorem Ipsum available, but the <br>
        majority have suffered alteration in some form.
    </p>
</div>

<div class="pro">
    <div class="first">
        <p class="pr">Freelancer</p>
        <p class="pt">All the basics for Starting a new <br>business</p>
        <p style="background-color: white;">
            <span>$24</span>
            <span>/mo</span>
        </p>
        <hr>
        <ul style="background-color: white;">
            <li>Cras justo odio.</li>
            <li>Dapidus ac facillis in.</li>
            <li>Morbi leo risus</li>
            <li>Potenti felis, in cras liguia.</li>
        </ul>
        <button>Buy Freelancer</button>
    </div>

    <div class="first">
        <p class="pr">Startup</p>
        <p class="pt">All the basics for Starting a new <br>business</p>
        <p style="background-color: white;">
            <span>$32</span>
            <span>/mo</span>
        </p>
        <hr>
        <ul style="background-color: white;">
            <li>Cras justo odio.</li>
            <li>Dapidus ac facillis in.</li>
            <li>Morbi leo risus</li>
            <li>Potenti felis, in cras liguia.</li>
        </ul>
        <button>Buy Startup</button>
    </div>

    <div class="first">
        <p class="pr">Entreprise</p>
        <p class="pt">All the basics for Starting a new <br>business</p>
        <p style="background-color: white;">
            <span>$48</span>
            <span>/mo</span>
        </p>
        <hr>
        <ul style="background-color: white;">
            <li>Cras justo odio.</li>
            <li>Dapidus ac facillis in.</li>
            <li>Morbi leo risus</li>
            <li>Potenti felis, in cras liguia.</li>
        </ul>
        <button>Buy Entreprise</button>
    </div>

</div>